<figure class="image">
    <center><img src="{{site.url}}{{include.url}}" alt="Basic Auction" width=800></center>
    <figcaption>
        <p>
            <small>A very simple example of an auction. In this case, the allocation rule is to give the item to highest bidder,
            and charge exactly what they bid -- a separate first-price auction for each item.
            Bob is reporting truthfully, but Alice is not, and benefits because of it -- this particular auction is not strategyproof.</small>
        </p>
    </figcaption>
</figure>
