<figure class="image">
    <center><img src="{{site.url}}{{include.url}}" alt="Table 1 From The Paper" width="800"></center>
    <figcaption>
        <p>
            <small>
                Here, we reproduce Table 1 from the paper, which shows that the hyperparameters associated with the augmented Lagrangian weights
                are quite brittle. Section a) shows the best hyperparameters for 3 auction types: 1 agent 2 items, 3 agents 10 items, and 5 agents 10 items.
                Section b) shows performance of each hyperparameter setting on its own as well as the other auction types. 
            </small>
        </p>
    </figcaption>
</figure>
